.bg-menu-theme .menu-link.active, .bg-menu-theme .menu-horizontal-prev.active, .bg-menu-theme .menu-horizontal-next.active{
    background-color: #7367f0;
    color:#fff !important;
}

.bg-menu-theme .menu-link.active:hover, .bg-menu-theme .menu-horizontal-prev.active:hover, .bg-menu-theme .menu-horizontal-next.active:hover{
    background-color: #7367f0 !important;
    color:#fff !important;
}
